body{
    margin: 0;
    font-family: 'Raleway', sans-serif;
}
header{
    height: 15vh;
    text-align: center;
}
.strek{
    height: 2px;
    background-color: black;
    margin-top: 50px;
    margin-bottom: 50px;
}
.DivMedSvar{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 20px;
    height: 100px;
}
#flexNed{
    display: flex;
    flex-direction: column;

}